.characterCard {
  padding: 8px;
  display: grid;
  border-radius: 8px;
  border: 2px solid var(--darkColor);
  gap: 8px;
  background-color: var(--lightColor);
}

.characterCard:hover {
  box-shadow: 0px 0px 4px 4px var(--primaryColor);
}

.characterImage,
.pairing-image {
  justify-content: center;
  align-items: center;
  display: flex;
}

.characterImage img,
.pairing-image img {
  max-width: 80%;
}

.pairing-image img:hover {
  box-shadow: 0px 0px 2px 2px var(--primaryColor);
}

.characterName {
  font-size: 16px;
  justify-content: center;
  display: flex;
}
